        <div>ID: {{tv.tvid}}</div>
        <div>NAME: {{tv.name}}</div>
        <div>Language: {{tv.lang}}</div>
        <div>Rating: {{tv.rating}}</div>
        <div>Summary: {{tv.summary}}</div>
        <br>
        <img src="{{tv.image}}" alt="" class="img-fluid">

        <a href="{{tv.official_site}}"><h4>Go to official website</h4></a>
        <a href="/">Back</a>




{{!-- <table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>LANGUAGE</td>
        <td>RATING</td>
        <td>IMAGE</td>
        <td>SUMMARY</td>
    </tr>

</table> --}}

