        <div class="row">
            <div class="col-4">
                        <img src="{{tv.image}}" alt="" class="img-fluid">
            </div>
            <div class="col-8">
                        <div>ID: {{tv.tvid}}</div>
                    <div>NAME: {{tv.name}}</div>
                    <div>Language: {{tv.lang}}</div>
                    <div>Rating: {{tv.rating}}</div>
                    <div>Summary: {{tv.summary}}</div>
            </div>
        </div>

        <br>

        <div class="d-flex flex-row bd-highlight mb-3 justify-content-between">
            <a href="{{tv.official_site}}" class="btn btn-success">Go to official website</a>
            <a href="/" class="btn btn-warning">Back</a>
        </div>





{{!-- <table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>LANGUAGE</td>
        <td>RATING</td>
        <td>IMAGE</td>
        <td>SUMMARY</td>
    </tr>

</table> --}}

